
.contenedor1{
    background-color: #2efef7;
    text-align: center;
}

.contenedor2{
background-color: #2ee2fe;
}

.contenedor3{
    background-color: #2efec3;
}

.contenedor4{
    background-color: #2eb9fe;
}



   





